

<section  id="about" class="grid grid-cols-1 gap-0 bg-blue-200 bg-opacity-50 md:grid-cols-2">
    <div class="flex flex-col items-start justify-center px-4 py-24 lg:px-20">
      <span class="mb-4 text-3xl font-bold p-2 text-green-500 badge">Quienes Somos </span>
      <img src="/images/infoexpo.png" class="mb-10 w-3/5">
      <h2 class="mb-6 text-2xl font-bold leading-tight text-blue-900 md:text-4xl lg:text-3xl">Líderes nacionales en logística electrónica de datos para la Industria del Turismo de reuniones.</h2>

      <h1 class="mb-6 text-4xl font-bold leading-tight text-blue-900 md:text-4xl lg:text-6xl">SOLUCIONES en TECNOLOGÍA y ANÁLISIS de DATOS para EXPOS, CONGRESOS y CONVENCIONES.</h1>

     
      <p class="pr-0 mb-4 text-md text-blue-800 tracking-relaxed lg:pr-16">La unica empresa certificada en ISO 27001, que te garantiza el adecuado manejo de tu informacióm.</p>
    </div>
    <div>
      <img
        src="/images/centro banamex.jpg"
        alt="3 women looking at a laptop"
        class="object-cover w-full h-64 bg-gray-100 md:h-full"
        loading="lazy"
      />
    </div>
  </section>
  