---

---
<nav id="home" class="bg-gradient-to-r from-blue-400 to-purple-600 text-white ">
    <div class="container mx-auto flex justify-between items-center p-4">
      <a href="#" class="text-2xl font-bold">infoexpo-Tks</a>
      <ul class="flex gap-5 text-lg font-semibold">
        <li><a href="#" class="hover:text-blue-900">Inicio</a></li>
        <li><a href="#about" class="hover:text-blue-900">Quiénes Somos</a></li>
        <li><a href="#price" class="hover:text-blue-900">Precio</a></li>
        <li><a href="#contact" class="hover:text-blue-900">Contacto</a></li>
      </ul>
    </div>
  </nav>